

<div class="page-content">
  <div class="container-fluid">
  <div class="col-md-12 col-sm-12">
      <div class="bodybox box green">
          <div class="bodybox-title">
            <div class="caption">
              <span id="spn_lead">Lead Master</span>
            </div> 
          </div>
         
          <div id="divAdd" class="bodybox-body table-wrapper">
            <form [formGroup]="leadList" (ngSubmit)="onFilterChange()">
            <div class="row">
             
                <div class="col-md-3">
                  <div class="form-group"> 
                <label class="control-label" for="SalesPerson">Sales Person </label>
              
                <p-dropdown 
                  [options]="salesPersons"
                  formControlName="SalesPerson"
                  optionLabel="name"
                  [filter]="true"
                  filterBy="Name" 
                  [showClear]="true"
                  placeholder="Choose an Option">
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                      <div class="flex align-items-center gap-2">
                      <div>{{ selectedOption.Name }}</div>
                      </div>
                  </ng-template>
                  <ng-template pTemplate="item" let-SalesPerson>
                      <div class="flex align-items-center gap-2">
                      <div>{{ SalesPerson.Name }}</div>
                      </div>
                  </ng-template>
                  </p-dropdown>
                </div>
  
              </div>
              
              <div class="col-md-3">
                  <div class="form-group"> 
                <label class="control-label" for="Authority">Authority</label>
                <p-dropdown 
                  [options]="authorities"
                  formControlName="Authority"
                  optionLabel="name"
                  [filter]="true"
                  filterBy="Name" 
                  [showClear]="true"
                  placeholder="Choose an Option">
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                      <div class="flex align-items-center gap-2">
                      <div>{{ selectedOption.Name }}</div>
                      </div>
                  </ng-template>
                  <ng-template pTemplate="item" let-Authority>
                      <div class="flex align-items-center gap-2">
                      <div>{{ Authority.Name }}</div>
                      </div>
                  </ng-template>
                  </p-dropdown>
  
                </div>
  
              </div>
              
              <div class="col-md-3">
                  <div class="form-group"> 
                <label class="control-label" for="Source">Source </label>
                <p-dropdown 
                  [options]="sources"
                  formControlName="Source"
                  optionLabel="name"
                  [filter]="true"
                  filterBy="Name" 
                  [showClear]="true"
                  placeholder="Choose an Option">
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                      <div class="flex align-items-center gap-2">
                      <div>{{ selectedOption.Name }}</div>
                      </div>
                  </ng-template>
                  <ng-template pTemplate="item" let-Source>
                      <div class="flex align-items-center gap-2">
                      <div>{{ Source.Name }}</div>
                      </div>
                  </ng-template>
                  </p-dropdown>
                </div>
  
              </div>

              <div class="col-md-3 mt-4">
                  <button type="submit" class="btn btn-primary">Search</button>
              </div>
              </div>
            </form>
            <div class="row pull-right"> 
              <div class="col-md-12">   
                  <div class="btn-group pull-right">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Action
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                          <li><a class="dropdown-item" href="#" [routerLink]="['/Lead']" id="addButton"><i class="fa fa-plus"></i> Add</a></li>
                          <li><a class="dropdown-item" href="#" id="editButton"><i class="fa fa-edit"></i> Edit</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          
            <div class="row">
            <table #dataTable class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th></th>
                  <th>SI.No</th>
                  <th>Client Name</th>
                  <th>Authority</th>
                  <th>ContactPerson</th>
                  <th>MobileNumber</th>
                  <th>EmailId</th>
                  <th>Landline</th>
                  <th>Designation</th>
                  <th>SalesPerson</th>
                  <th>Source</th>
                  <th>Area</th>
                  <th>Emirates</th>
                  <th>Country</th>
                  <th>CreatedOn</th>
                </tr>
              </thead>
              <tbody>
              
              </tbody>
            </table>
         
          
          </div>
          </div>
      </div>
    </div>
  </div>    
</div>
