<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/afd4a53b-b97e-44bb-82f7-f9af3f6cb54b/resourceGroups/DefaultResourceGroup-CCAN/providers/Microsoft.Web/sites/coreconnectapi</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://coreconnectapi-g5h3c2bdaqetedfn.uaenorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>1c097a5f-7b03-42f4-9977-b8fbc0fd83a7</ProjectGuid>
    <PublishUrl>https://coreconnectapi-g5h3c2bdaqetedfn.scm.uaenorth-01.azurewebsites.net/</PublishUrl>
    <UserName>$coreconnectapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>