/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Open Sans", Calibri;
    font-size: 14px;
    color: #1c1a1a;
    font-weight: 500;
}

.bodybox.box.green {
    border: 1px solid #FF416C;
    border-top: 0;
}
.bodybox > .bodybox-body.green, .porbodyboxtlet.green {
    background-color: #ef567a;
}
.bodybox.box {
    padding: 0px !important;
}
.bodybox {
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;

    -o-border-radius: 4px;
    border-radius: 4px;
}
.bodybox.box.green > .bodybox-title {
    background: linear-gradient(to right, #1551ab, #083c8b);
}

.bodybox.box > .bodybox-title {
    border-bottom: 0;
    padding: 0 10px;
    margin-bottom: 0;
    color: #fff;
}
.bodybox.box.green > .bodybox-title > .caption {
    background: linear-gradient(to right, #22539b, #2959a5);
}
.bodybox.box.green > .bodybox-title > .caption {
    color: #FFFFFF;
}
.bodybox.box > .bodybox-title > .caption {
    padding: 11px 0 9px 0;
}
.bodybox > .bodybox-title > .caption {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}
.caption {
    background: #fff;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.page-content {
    background: #eff3f8;
    padding: 15px 0 15px;
}
.bodybox.box > .bodybox-body {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}
.bodybox.box > .bodybox-body {
    background-color: #fff;
    padding: 10px;
}
.bodybox > .bodybox-body {
    clear: both;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.form-control {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.control-label {
   
    color: #000;
}
.control-label {
    margin-top: 1px;
}
label {
    font-weight: 400;
    font-size: 14px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.form-group {
    margin-bottom: 15px;
}
.p-dropdown {
    width: 100% !important;
    height: 34px;
}
.p-inputtext
{
    padding: 3px;
}
.p-icon {
    width: 10px !important;
    height: 15px !important
}
.p-dropdown .p-dropdown-clear-icon {
    color: #cecece !important;
    right: 1.9rem !important;
}
ol, ul {
    padding-left: 1rem;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    margin: 0;
    padding: 0.2rem 1rem;
    border: 1px solid #f5f0f0dd;
    color: #495057;
    background: transparent;
    transition: box-shadow 0.2s;
    border-radius: 0;
}

.has-error .help-block, .has-error .help-inline, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #a94442;
}
.has-error .form-control {
    border-color: #e50000;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .p-dropdown {
    border-color: #e50000;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pull-right
{
    text-align: right;
}

.pull-left
{
    text-align: left;
}

.control-label .required {
    color: #e02222;
    font-size: 12px;
    padding-left: 2px;
}

.table-wrapper {
    overflow-x: auto;
}

.table {
    width: 100%;
    min-width: 100%;
}
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the text horizontally */
  }
  
  .header-top {
    font-weight: bold; /* Make the top header bold */
  }
  
  .header-bottom {
    font-weight: normal; /* Make the bottom header normal weight */
  }

  .btn.dropdown-toggle, .btn-group .btn.dropdown-toggle, .btn:hover, .btn:disabled, .btn[disabled], .btn:focus, .btn:active, .btn.active {
    outline: none !important;
    background-image: none !important;
    filter: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-group > .btn:first-child {
    margin-left: 0;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    float: left;
}
button.btn.btn-secondary.dropdown-toggle {
    padding: 2px 4px 2px 4px;
    margin-bottom: 10px;
}
.btn
{
    padding: 2px 4px 4px 4px;
    font-size: 14px !important;
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .loading-spinner {
    text-align: center;
    color: white;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #fff;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .divHeaderText
    {
    font-size: 18px;
    color: #cab14d;
    font-weight: bolder;
    }
    .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    .input-group .input-group-addon {
        border-color: #e5e5e5;
        background: #e5e5e5;
        min-width: 39px;
    }
    .input-daterange .input-group-addon {
        width: auto;
        min-width: 16px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        text-shadow: 0 1px 0 #fff;
        vertical-align: middle;
        background-color: #eee;
        border: solid #ccc;
        border-width: 1px 0;
        margin-left: -5px;
        margin-right: -5px;
    }
    .input-group-addon:not(:first-child) {
        border-left: 0;
    }
    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .input-group-addon, .input-group-btn {
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
    }
    .input-group-addon, .input-group-btn, .input-group .form-control {
        display: table-cell;
    }

    .m-top-30
    {
        padding-top: 30px;
    }

    .m-top-20
    {
        padding-top: 20px;
    }
    .m-top-10
    {
        padding-top: 10px;
    }


    .table .btn {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 5px;
    }
    .btn + .btn {
        margin-left: 5px;
    }
    .bgRed {
        background: #DB4437;
        color: #fff;
    }
    .bgGreen {
        background: #28a745;
        color: #fff;
    }
    .bgOrange {
        background: #fd7e14;
        color: #fff;
    }
    .btn-xs {
        padding: 1px 5px;
        font-size: 12px !important;
        border-radius: 15%;
        padding: 2px 4px 2px 4px;
        border: 1px solid #f4f4f4;
    }
    .tablehtmltrheader
    {
        background: #2143ff !important;
        color: white;
        border: 1px solid #ddd;
        border-collapse: collapse;
    }

    .tablehtmltd
    {
        border: 1px solid #ddd;
        border-collapse: collapse;
    }

    .tablehtml
    {
        width:100%;
        border: 1px solid #ddd;
        border-collapse: collapse;
    }

    @media print {
        .page-break { page-break-before: always; }
      }
      .modal-header.bg-primary {
        background-color: #007bff; /* Bootstrap Primary Color */
        border-bottom: 2px solid #0056b3;
      }
      
      .modal-body p {
        font-size: 14px;
        color: #333;
      }
      
      .modal-body h5 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 2px;
        margin-bottom: 1rem;
      }
      th.sorting {
        background-color: #254779;
        color: white;
    }

    .watermark {
        position: relative;
      }
      
      .watermark::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('assets/images/confidential.jpg'); /* Replace with your watermark image path */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.2; /* Adjust transparency */
        pointer-events: none; /* So that it doesn't interfere with the content */
        z-index: 1000;
      }
      .bg-logo{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    .bg-logoimg
    {
        width: 200px;
        height: 200px;
        opacity: 0.2;
    }
    .print-button-container {
        position: fixed;
        right: 20px; /* Adjust as needed for your layout */
        top: 50%; /* Center the button vertically */
        transform: translateY(-50%); /* Center the button vertically */
        z-index: 1000; /* Ensure the button stays on top of other content */
      }
      
      .print-button-container button {
        background-color: #5abe30; /* Button color */
        color: white; /* Text color */
        border: none; /* Remove default border */
        padding: 10px 20px; /* Adjust padding */
        font-size: 16px; /* Adjust font size */
        cursor: pointer; /* Change cursor on hover */
      }
      
      .print-button-container button:hover {
        background-color: #77fb13; /* Button color on hover */
      }


      .sign-button-container {
        position: fixed;
        right: 20px; /* Adjust as needed for your layout */
        top: 60%; /* Center the button vertically */
        transform: translateY(-50%); /* Center the button vertically */
        z-index: 1000; /* Ensure the button stays on top of other content */
      }
      
      .sign-button-container button {
        background-color: #b82323; /* Button color */
        color: white; /* Text color */
        border: none; /* Remove default border */
        padding: 10px 20px; /* Adjust padding */
        font-size: 16px; /* Adjust font size */
        cursor: pointer; /* Change cursor on hover */
      }
      
      .sign-button-container button:hover {
        background-color: #ce0d0d; /* Button color on hover */
      }

      @media print {
        /* Ensure the footer is positioned at the bottom of each printed page */
        footer {
            position: fixed;
            bottom: 0px;
            width: 100% !important;
            height: 50px !important;
            padding-bottom: 0px;
        }
        .footerdiv {
            position: fixed;
            bottom: 0px;
            padding-bottom: 0px;
            left: 0;
            width: 100%;
            height: 40px;
            background-color: white; /* Optional, to ensure visibility */
            z-index: 1000; /* Ensure it’s on top */
            page-break-after: always;
        }
        .page-break {
            page-break-before: always;
        }
       
    }

    @media print {
        
        .front-page-image {
            page-break-after: always;
        }
    }
    .disabled-btn {
        pointer-events: none;
        opacity: 0.6;
        cursor: not-allowed; 
      }

    
      
      